# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List
alias ll="ls -ll -F"
alias la="ls -la -F"

# Shortcuts
alias v="vim"
alias ta="cd ~/projects/turtl/turtl"
alias tt="cd ~/projects/turtl/turtl-brand-themes-compiler"

# Git
alias gs="git status"
alias gp="git push"
alias gl="git pull"
alias gb="git branch"
alias gm="git commit"

# npm run
alias nr="npm run"
alias nrw="npm run watch"

#Turtl
alias restartturtlapp="git pull origin master && npm i && cd client && npm i && npx grunt dev && cd ../client-ng2 && npm i && npm run build && cd ../client-ck && npm i && npm run build && cd .. && make watch"

# PHP
alias stopphp="killall -9 php"
alias python=python3

# Python
alias startpythonserver="open http://localhost:8000 && python3 -m http.server"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
