Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
projects/
.CFUserTextEncoding
.bash_history
.cache/
.composer/
.config/
.dropbox/
.extra
.gem/
.ievms/
.git-completion.bash
.gitignore_global
.gnupg/
.irssi/
.kodi/
.mkshrc
.node-gyp/
.npm/
.profile
.rvm/
.ssh/
.subversion/
.tinypng
.vagrant.d/
.vim/.netrwhist
.viminfo
.zlogin
.zshrc
VirtualBox VMs/
.Trash/
.adobe/
.ansible_galaxy
.atom/
.lesshst
.v8flags.*
.boom
.vue-templates/
.node_repl_history

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
